#screen{
	position: absolute;
	left: 50%;
	margin-left: -240px;
	top: 50%;
	margin-top: -160px;
	width: 480px;
	height: 320px;
	z-index: 2;
}

#border{
	position: absolute;
	left: 50%;
	margin-left: -340px;
	top: 50%;
	margin-top: -210px;
	border-radius:31px;
	z-index: 1;
}
